
@import "vars";

/*==========  Desktop First  ==========*/

@media (max-width: 1500px) {
  .s {

    &-main {
      padding: 270px 0;
    }

    &-development {
      .section-title {
        font-size: 130px;
        max-width: 750px;
        &::before {
          width: 300px;
          height: 300px;
          background-image: url("../img/service-back-min.png");
          left: -300px;
        }
      }
      &__title {
        right: -3%;
        font-size: 15px;
      }
      &__text {
        max-width: 750px;
      }
    }

    &-about {
      .section-title {
        &::before, &::after {
          max-width: 480px;
        }
      }
    }

    &-work {
      .section-title {
        font-size: 100px;
      }
      .work {
      }
    }

    &-brif {
      &__title {
        font-size: 140px;
      }
    }

    &-resolve {
      padding: 250px 0 270px;
      .section-title {
        font-size: 140px;
      }
    }

    &-service {
      .service {
        margin-bottom: 100px;
      }
    }

    &-contact {

      &--title {
        margin-bottom: 0;
        padding: 200px 0 100px;
      }
    }

    &-map {
      .button {
        font-size: 20px;
        padding: 20px 40px;
        right: 23%;         
      }
    }
  }
}

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;
  }

  .footer {
    text-align: center;

    &__content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-image: url("../img/body-back.jpg");
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .s {
    
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {
    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 24px;
    }      
  }

  .s {
    &-main {
      
    } 
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .break {
    display: inline;
  }

  .call-me {
    display: flex;
  }

  .s {
    &-thanks {
      padding: 150px 0 50px;
      
      &-title {
        font-size: 30px;
      }

      &-text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}