
@import "vars";

/*==========  Desktop First  ==========*/

@media (max-width: 1500px) {
  .s {

    &-main {
      padding: 270px 0;
    }

    &-development {
      .section-title {
        font-size: 130px;
        max-width: 750px;
        &::before {
          width: 300px;
          height: 300px;
          background-image: url("../img/service-back-min.png");
          left: -300px;
        }
      }
      &__title {
        right: -3%;
        font-size: 15px;
      }
      &__text {
        max-width: 750px;
      }
    }

    &-about {
      .section-title {
        &::before, &::after {
          max-width: 480px;
        }
      }
    }

    &-work {
      .section-title {
        font-size: 100px;
      }
      .work {
      }
    }

    &-brif {
      &__title {
        font-size: 140px;
      }
    }

    &-resolve {
      padding: 250px 0 270px;
      .section-title {
        font-size: 140px;
      }
    }

    &-service {
      .service {
        margin-bottom: 100px;
      }
    }

    &-contact {

      &--title {
        margin-bottom: 0;
        padding: 200px 0 100px;
      }
    }

    &-map {
      .button {
        font-size: 20px;
        padding: 20px 40px;
        right: 23%;         
      }
    }
  }
}

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;
  }

	.main-menu {
    display: none;
    background-image: url("../img/body-back.jpg");
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }   
  
  .section {
    &-title {
      span {
        &.right, &.left {
          text-align: center;
        }
      }
    }
  }

  .s {
    &-main {
      padding: 320px 0;
    }

    &-development {
      .section-title {
        font-size: 100px;
        &::before {
          display: none;
        }
      }
      &__title {
        font-size: 14px;
        right: 6%;
        bottom: 0%;
      }
    }

    &-work {
      .section-title {
        font-size: 80px;
      }

      &__more {
        font-size: 70px;
        img {
          max-width: 80px;
        }
      }

      .work {
        &__img {
          height: 370px;
        }
        &__title {
          font-size: 50px;
        }
      }
    }

    &-contact {
      .logo {
        text-align: center;
      }
      &__content {
        margin: 30px auto 0;
      }
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {
    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 24px;
    }      
  }

  .s {
    &-main {
      
    } 

    &-about {
      .about {
        margin: 30px;
        &__title {
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }

    &-brif {
      &__text {
        font-size: 16px;
      }
      &__title {
        font-size: 70px;
        img {
          width: 45px;
          margin-left: 15px;
        }
      }
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .break {
    display: inline;
  }

  .call-me {
    display: flex;
  }

  .s {

    &-main {
      &__img {
        max-width: 155px;
        margin: 0 auto;
      }
    }

    &-development {
      .section-title {
        font-size: 50px;
        max-width: 325px;
        margin-bottom: 40px;
        &::after {
          content: "";
          position: absolute;
          width: 96px;
          height: 96px;
          background-image: url("../img/development-figure.png");
          top: 10%;
          right: 0%;
        }
      }

      &__title {
        position: relative;
        right: 0;
        bottom: 0;
        margin: 50px auto 0;
      }

      &__text {
        font-size: 14px;
        line-height: 19px;
      }
    }

    &-about {
      .section-title {
        font-size: 100px;
        &::before {
          display: none;
        }
        &::after {
          background-image: url("../img/numbers-min.png");
          background-repeat: no-repeat;
          top: calc(100% + 60px);
          left: 0;
        }
      }
      
    }

    &-work {
      .section-title {
        span {
          &:first-child {
            font-size: 38px;
          }
          &:last-child {
            font-size: 55px;
          }
        }
      }

      &__content {
      }

      &__more {
        font-size: 46px;
        text-align: center;
        margin-top: 40px;
        img {
          max-width: 59px;
        }
      }

      .work {
        max-width: 260px;
        margin: -30px auto 0;

        &__img {          
          height: 418px;
        }

        &__title {
          font-size: 60px;
        }

        &__text {
          font-size: 14px;
        }
      }
    }

    &-partners {
      .section-title {
        font-size: 70px;
        background-image: url("../img/partners-back-min.png");
        padding: 22px 0 100px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &-contact {
      .logo {
        img {          
          max-width: 153px;
          margin: 0 auto;
          display: block;
        }
      }
    }

    &-thanks {
      padding: 150px 0 50px;
      
      &-title {
        font-size: 30px;
      }

      &-text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}